<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainPage</servlet-name>
        <servlet-class>MainPage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookDetail</servlet-name>
        <servlet-class>BookDetail</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BookDetail</servlet-name>
        <url-pattern>/book_detail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserCenter</servlet-name>
        <servlet-class>UserCenter</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserCenter</servlet-name>
        <url-pattern>/user_center</url-pattern>
    </servlet-mapping>


</web-app>